<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" >

        {% endblock %}
    </head>





    {% block header %}


  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">MedShift</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li hidden>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href='/' id="sheduler_main">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Darbo grafikas</span>
        </a>
         <span class="tooltip">Darbo grafikas</span>
      </li>
      <li>
       <a href="/doctors" id="doctors_page">
         <i class='bx bx-user' ></i>
         <span class="links_name">Gydytojai</span>
       </a>
       <span class="tooltip">Gydytojai</span>
     </li>
     <li>
       <a href="/patients">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Pacientai</span>
       </a>
       <span class="tooltip">Pacientai</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">Laisvadieniai</span>
       </a>
       <span class="tooltip">Laisvadieniai</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-folder' ></i>
         <span class="links_name">Papildyti</span>
       </a>
       <span class="tooltip">Papildyti</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cart-alt' ></i>
         <span class="links_name">Papildyti</span>
       </a>
       <span class="tooltip">Papildyti</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-heart' ></i>
         <span class="links_name">Papildyti</span>
       </a>
       <span class="tooltip">Papildyti</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Papildyti</span>
       </a>
       <span class="tooltip">Papildyti</span>
     </li>

    </ul>
  </div>


           {% endblock %}

    {% block content %}

    {% endblock %}


    {% block script %}
    {% endblock %}


</html>